<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />

<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/style.css"
</head>

 <body>
    <div class="container">
        <div class="row justify-content-center align-items-center vh-90">
            <div class="col-sm-8">
                <div class="row justify-content-center">
                    <img id="imagen" src="img/g.png" class="img-fluid" style="height:250px; filter: blur(0.3px);">
                </div>
                <div class="row justify-content-center m-3">
                    <h4>Descargar actualizaciones</h4>
                </div>
                <div class="row justify-content-center m-1">
                    <button id="forzar_actualizacion" class="btn btn-success">Actualizar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center align-items-end" style="width: 100%;">
        <div class="col-sm-10">
            <h6>Versión instalada:<small id="version"></small></h6>
        </div>    
    </div>

    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/bootstrap4-toggle.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="vista.js"></script>
</body>
</html>